@forward "./base/index";
@use "./abstract/index" as variable;


@mixin btn {
    background-color: variable.$primary-bg;
    padding: 12px 35px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color: variable.$primary-color;
    cursor: pointer; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: variable.$primary-bg;

    div {
        margin-left: 20px;

        h1 {
            font-size: 40px;
            color: red;
        }
    }

    nav {
        margin-right: 20px;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            li {
                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                    transition: color .4s;
                }

                a:hover {
                    color: blue;
                }
            }
        }
    }
}

section {
    width: 90%;
    margin: auto;
    margin-top: 70px;

    h2 {
        font-size: 100px;
    }

    p {
        line-height: 30px;
        text-align: justify;
    }

    .hero-btn {
        @include btn;
        margin-top: 20px;
        margin-bottom: 100px;
        transform: scale(1.1);
    }
    .hero-btn:hover {
        background-color: variable.$primary-color;
        color: white;
        transform: scale(1.2);
        transition: all .3s;
    }
    .hero-btn:active {
        transform: scale(1);
    }
}